body{
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: arial;
  text-decoration: none; 
  box-sizing:border-box;
}

footer {
  position: sticky;
  top: 100%;
  display: block;
}

.announcementCover{
    height: auto;
    width: 250px;
    object-fit: cover;
}

.listContainer {
  /* text-align: left;
  background: #e6e6e6;
  padding: 25px;
  width: 300px;
  margin: 0 25px 40px;
  height: 430px; */

  display: inline-block;
  padding: 15px;
  /* float: left; */
  width: calc(100%/4);
}

.listContainer img {
  width: 100%;
  height: 188px;
  object-fit: cover;
}

.listContent {
  /* width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 169px;
  justify-content: space-between; */
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 169px;
  justify-content: space-between;
  padding: 10px 0;
}

.listContent h4 {
  font-size: 18px;
  color: #329bd6;}

.listContent p {
  color: gray;
  font-size: 15px;
  padding: 5px 0;}

.listContent a {
  color: #c2bd3d;}

.listContent a:hover {
  color: #747225;}

.listDetail {
  padding: 20px 20px 30px;
  background: #e9e9e9;
}

  .articlePage {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 510px;}
  
  .article {
    width: 65%;
    padding: 50px 30px 150px 63px;}
  
  .articleContainer img {
    width: 100%;
    height: auto;
    margin: 20px 0;}
  
  .headline h4 {
    color: dimgray;
    font-weight: normal;
    font-size: 16px;}
  
  .headline h3 {
    font-size: 35px; 
    padding: 2px 0;}
  
  .postDate {
    display: flex;}
  
  .byline p {
    color: gray;
    font-size: 12px;
    padding: 3px 0;
    margin-right: 5px;}
  
  p#author {
    color: #329bd6;
    font-size: 14px;}
  
  .author {
    display: flex;
  }

  .author p {
    display: flex;
    align-items: center;
    align-content: space-between;
    color: black;}
  
  .content p {
    font-size: 15px;}
  
  .content {
    margin-top: 20px;}
  
  /* Individual Article styles */

  .recentList {
    width: 35%;
    background: #f2f2f2;
    padding: 50px 63px 0 30px;}
  
  .recentList h5 {
    font-size: 18px;}
  
  .recentArticle img {
    width: 185px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    /* My Additions */
    height: 100px;
    object-fit: cover;
  }
  
  .recentArticle {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    overflow: hidden;
    width: 100%;}
  
  .recentHeadline {
    width: 66%;
    word-break: break-all;
    display: flex;
    flex-direction: column;}
  
  .recentHeadline h4 {
    font-size: 16px;
    font-weight: normal;
    color: #329bd6;}
  
  .recentHeadline h5 {
    padding: 5px 0;
    font-size: 18px;
    color: #329bd6;}
  
  .recentHeadline p {
    color: #404040;
    font-size: 12px;
    margin-bottom: 25px;}

  div.sidebar{
    min-height: 500px;
  }

  /* Forms */

  #coverPhotoPreview{
    height: auto;
    width: 200px;
  }


div.content p{
  white-space: pre-line;
}

/*  */

input.addFacultyField{
  display:none;
}

  /*  */