body{
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: arial;
  text-decoration: none; 
  box-sizing:border-box;
}

footer {
  position: sticky;
  top: 100%;
  display: block;
}

.announcementCover{
    height: auto;
    width: 250px;
    object-fit: cover;
}

.listContainer {
  text-align: left;
  background: #e6e6e6;
  padding: 25px;
  width: 300px;
  margin: 0 25px 40px;
  height: 430px;}

.listContainer img {
  width: 100%;
  min-height: 188px;
  object-fit: cover;
  height: auto;}

.listContent {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 169px;
  justify-content: space-between;}

.listContent h4 {
  font-size: 18px;
  color: #329bd6;}

.listContent p {
  color: gray;
  font-size: 15px;
  padding: 5px 0;}

.listContent a {
  color: #c2bd3d;}

.listContent a:hover {
  color: #747225;}

  .articlePage {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 510px;}
  
  .article {
    width: 65%;
    padding: 50px 30px 150px 63px;}
  
  .articleContainer img {
    width: 100%;
    height: auto;
    margin: 20px 0;}
  
  .headline h4 {
    color: dimgray;
    font-weight: normal;
    font-size: 16px;}
  
  .headline h3 {
    font-size: 35px; 
    padding: 2px 0;}
  
  .postDate {
    display: flex;}
  
  .byline p {
    color: gray;
    font-size: 16px;
    padding: 3px 0;
    margin-right: 5px;}
  
  p#author {
    color: #329bd6;
    font-size: 20px;}
  
  .author p {
    display: flex;
    align-items: center;
    align-content: space-between;
    color: black;}
  
  .content p {
    font-size: 18px;}
  
  .content {
    margin-top: 20px;}
  
  /* Individual Article styles */

  .recentList {
    width: 35%;
    background: #f2f2f2;
    padding: 50px 63px 0 30px;}
  
  .recentList h5 {
    font-size: 18px;}
  
  .recentArticle img {
    width: 185px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;}
  
  .recentArticle {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;}
  
  .recentHeadline {
    width: 66%;
    word-break: break-all;
    display: flex;
    flex-direction: column;}
  
  .recentHeadline h4 {
    font-size: 16px;
    font-weight: normal;
    color: #329bd6;}
  
  .recentHeadline h5 {
    padding: 5px 0;
    font-size: 21px;
    color: #329bd6;}
  
  .recentHeadline p {
    color: #404040;
    font-size: 14px;
    margin-bottom: 25px;}

  div.sidebar{
    min-height: 500px;
  }

  /* Forms */

  #coverPhotoPreview{
    height: auto;
    width: 200px;
  }


/*  */

button#saveFacultyBtn {background: #329bd6;border: none;color: white;font-size: 20px;padding: 7px;border-radius: 8px;width: 110px;}

button#saveFacultyBtn:hover {background: #1d6995}

.createFaculty {
  padding: 3% 4%;
  width: 80%;}

.createFacultyHeader h3 {
  font-size: 25px;
  color: #404040;}

.createFacultyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;}

.createFacultyHeader div button {
  font-size: 17px;
  margin-left: 35px;
  background: none;
  border: none;
  color: #329bd6;}

.createFacultyHeader div button:hover {
  color: #1d6995;}

.createFaculty th label {
  padding-left: 5px;
  font-size: 14px;
  font-weight: normal;
  color: #404040;}

.createFacultyContainer button img {
  width: 30px;}

.createFacultyContainer {
  width: 100%;
  display: flex; 
  background: #e6e6e6;
  border-radius: 10px;
  margin: 32px auto;
  flex-direction: row-reverse;
  overflow: auto;
  text-align: left;}

.facultyDetails {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;}

.createFacultyContainer button {
  height: 34px;
  border: none;
  background: no-repeat;
  margin: 20px;}

.inputFaculty {
  width: 80%;
  margin-left: 43px;}

.nameFaculty input[name="suffix"] {width: 250px;}

.other {
  width: 300px;}

.positionFaculty input {
    width: 300px;
    padding: 6px;
    border: none;
    font-size: 15px;
}

.imageFaculty {
  text-align: center;
  margin-left: 20px;}

.createFacultyContainer button img {
  width: 30px;}

.createFacultyContainer {
  width: 100%;
  display: flex; 
  background: #e6e6e6;
  border-radius: 10px;
  margin: 32px auto;
  /* padding: 25px 77.3px; */
  flex-direction: row-reverse;
  overflow: auto;
  text-align: left;}

.facultyDetails {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;}

.createFacultyContainer button {
  height: 34px;
  border: none;
  background: no-repeat;
  margin: 20px;}

.inputFaculty {
  width: 80%;
  margin-left: 43px;}

img.addFacultyImage {
  width: 100px;
  height: auto;}

input.addFacultyField{
  display:none;
}

.nameFaculty table, .positionFaculty table {
  margin-top: 5px;}

.nameFaculty input[name=firstName],
.nameFaculty input[name=lastName] {
  width: 250px;}

.nameFaculty input[type="text"],
.positionFaculty select {
  padding: 6px;
  border: none;
  font-size: 15px;}

.nameFaculty input[name="middleInitial"] {
  width: 100px;}

.nameFaculty th,.positionFaculty th {
    padding: 0px 3px;}

select#facultyPosition, .title, .other {
  width: 279px;}

/*  */